{% extends 'home.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-3 shadow">
        <div class="row g-0">
            <!-- Vérification si le produit a une image -->
            {% if product.image %}
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            {% endif %}

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-muted">ID : {{ product.id }}</p>
                    <p class="card-price">{{ product.price }}€</p>
                    <p class="card-description">{{ product.description }}</p>

                    <button type="button" 
                        value="{{ product.id }}" 
                        class="panier-btn" 
                        id="add-cart">
                        Ajouter au panier
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>

{% endblock %}
